html, body, #main{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main{
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 100vh) {
  #main{
      height: 100vw;
      width: 100vw;
  }
}

/* experiment for high resolution */

/*#main{
  height: 500vh;
  width: 500vh;
  transform: translate(-200vh, -200vh) scaleX(0.2) scaleY(0.2);
}

@media screen and (max-width: 100vh) {
  #main{
      height: 500vw;
      width: 500vw;
      transform: translate(-200vw, -200vw) scaleX(0.2) scaleY(0.2);
  }
}*/

.container{
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.circle{
  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
